[submodule "lab_05"]
	path = lab_05
	url = /home/benrudgers/gitimmersion/repos/lab_05
[submodule "lab_10"]
	path = lab_10
	url = /home/benrudgers/gitimmersion/repos/lab_10
[submodule "lab_15"]
	path = lab_15
	url = /home/benrudgers/gitimmersion/repos/lab_15
[submodule "lab_20"]
	path = lab_20
	url = /home/benrudgers/gitimmersion/repos/lab_20
[submodule "lab_25"]
	path = lab_25
	url = /home/benrudgers/gitimmersion/repos/lab_25
[submodule "lab_30"]
	path = lab_30
	url = /home/benrudgers/gitimmersion/repos/lab_30
[submodule "lab_35"]
	path = lab_35
	url = /home/benrudgers/gitimmersion/repos/lab_35
[submodule "lab_40"]
	path = lab_40
	url = /home/benrudgers/gitimmersion/repos/lab_40
[submodule "lab_45"]
	path = lab_45
	url = /home/benrudgers/gitimmersion/repos/lab_45
[submodule "lab_50"]
	path = lab_50
	url = /home/benrudgers/gitimmersion/repos/lab_50
